*
{
    margin: 0;
    padding: 0;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    gap: 10%;
    font-family: 'Sora', sans-serif;
    color:  rgb(24, 49, 83);
}
.left
{
    display: flex;
    flex-direction: column;
    width: 40%;
}
h1, h2
{
    font-weight: 700;
    width: 79%;
    margin-top: 17%;
}
h3
{
    margin-top: 14%;
}
.right
{
    width: 52%;
}
form
{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 201, 201);
    height: 109%;
    border-radius: 9px;
}
label
{
    margin: 10px 0 0 31px;
}
input
{
    width: 90%;
    height: 46px;
    margin: auto;
}
textarea
{
    margin: auto;
    width: 90%;
}
.btn
{
    display: flex;
    flex-direction: row;
    margin-left: -17%;
}
#send_btn
{
    /* margin-left: 6%;
    margin-top: 10%; */
}
#canc_btn
{
    /* left: 23px;
    bottom: 73px;
    position: relative; */
    margin-left: -16%;
}
#send_btn, #canc_btn
{
    background-color: rgb(24, 49, 83);
    color: white;
    border: none;
    width: 30%;
    border-radius: 5px;
}
#send_btn:hover, #canc_btn:hover
{
    background-color: transparent;
    border: 1px solid yellow;
}
@media(max-width: 836px)
{
    .container
    {
        font-size: 14px;
    }
}
@media(max-width: 666px)
{
    .container
    {
        font-size: 12px;
    }
    label 
    {
        margin: 10px 0 0 15px;
    }
}

@media(max-width: 636px)
{
    h1, h2
    {
        width: 99%;
    }
    label 
    {
        margin: 7px 0 -58px 18px;
    }
    input
    {
        margin-bottom: 2%;
        height: 34px;
    }
}

@media(max-width: 493px)
{
    .container
    {
        width: 89%;
        gap: 14%;
    }

    .left
    {
        width: 46%;
    }
    h1, h2 
    {
        width: 125%;
    }
     label 
    {
        margin: 12px 0 -56px 13px;
    }
    input 
    {
        margin-bottom: 3%;
    }
}

@media(max-width: 375px)
{
    .container {
        width: 89%;
        gap: 14%;
        font-size: 13px;
    }
    .right {
        width: 52%;
        margin-top: 3%;
    }
    form
    {
      height: 72%;
    }
    label {
        margin: 12px 0 -44px 12px;
    }
    input {
        margin-bottom: 3%;
        height: 26px;
    }
    #send_btn, #canc_btn
    {
        font-size: 9px;
    }
}

@media(max-width: 332px)
{
    .container
    {
        font-size: 12px;
    }
    label 
    {
        margin: 9px 0 -25px 8px;
    }
    input 
    {
        margin-bottom: 3%;
        height: 26px;
    }
}